<% @title = "新規追加" %>
<h1><%= @title %></h1>
<%= link_to "一覧に戻る", :admin_partners %>
<%= form_for [:admin, @domain] do |form| %>
  <%= render "form", form: form %>
  <p><%= form.submit %></p>
<% end %>