<% @title = "編集" %>
<h1><%= @title %></h1>
<%= link_to "一覧に戻る", :admin_administrators %> | 
<%= link_to "パートナー詳細に戻る", [:admin, @administrator]%>
<%= form_for [:admin, @administrator] do |form| %>
  <%= render "form", form: form %>
  <p><%= form.submit %></p>
<% end %>