<% @title = "管理者一覧" %>
<h1><%= @title %></h1>
<%= render "search_form" %>
<%= link_to "管理者を追加する", :new_admin_administrator %>
<div id="admin_list">
  <% if @administrators %>
    <%= render "admin_list"%>
    <%= will_paginate @members %>
  <% else %>
    表示できる管理者情報がありません
  <% end %>
</div>
