<%= render "shared/errors", obj: @server%>
<table>
  <tr>
    <th><%= form.label :tag %></th>
    <td><%= form.text_field :tag %></td>
  </tr>
  <tr>
    <th>
      ドメインテンプレート
    </th>
    <td>
      <%= form.collection_select :name, @domain_templates, :id, :name, { include_blank: "選択してください" } %>
    </td>
  </tr>
  <tr>
    <th><%= form.label :name %></th>
    <td><%= form.text_field :name %></td>
  </tr>
  <tr>
    <th><%= form.label :memo %></th>
    <td><%= form.text_area :memo, cols: 50, rows: 10 %></td>
  </tr>
</table>