<% @title = "詳細表示" %>
<h1><%= @title %></h1>
<%= link_to "一覧に戻る", vps_management_index_path %> |
<%= link_to "編集する", "#"%>
<table>
  <tr>
    <th>ID</th>
    <td><%= @server.id %></td>
  </tr>
  <tr>
    <th>名前</th>
    <td><%= @server.name %></td>
  </tr>
  <tr>
    <th>稼働開始日時</th>
    <td><%= @server.released_at.strftime("%Y/%m/%d %H:%M") %></td>
  </tr>
  <tr>
    <th>稼働終了日時</th>
    <td><%= @server.expired_at.strftime("%Y/%m/%d %H:%M") %></td>
  </tr>
  <tr>
    <th>稼働状況</th>
    <td><%= state_name "RHEL6_i386" %></td>
  </tr>
</table>
<%= link_to "削除する", @server,
  method: :delete, confirm: "本当に削除しますか？"%>

<%= form_tag({ action: "stop" }, {method: :put}) do %>
  <%= hidden_field_tag :server_id, @server.id %>
  <%= hidden_field_tag :domain_name, "RHEL6_i386" %>
  <%= submit_tag "停止", confirm: "Are you sure?" %>
<% end %>
<%= form_tag({ action: "start" }, {method: :put}) do %>
  <%= hidden_field_tag :server_id, @server.id %>
  <%= hidden_field_tag :domain_name, "RHEL6_i386" %>
  <%= submit_tag "起動", confirm: "Are you sure?" %>
<% end %>

