<div id="partners" class="abc">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th><%= Partner.human_attribute_name "name" %></th>
        <th><%= Partner.human_attribute_name "email" %></th>
        <th><%= Partner.human_attribute_name "phone_number1" %></th>
      </tr>
    </thead>
    <tbody>
      <% @partners.each do |partner| %>
        <tr>
          <td><%= partner.id %></td>
          <td>
            <%= link_to partner.name, [:admin, partner] %>
          </td>
          <td><%= partner.email%></td>
          <td><%= partner.phone_number1 %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @partners, remote: true %>
</div>