<% @title = "編集" %>
<h1><%= @title %></h1>
<%= link_to "一覧に戻る", :admin_partners %> |
<%= link_to "パートナー詳細に戻る", [:admin, @partner]%>
<%= form_for [:admin, @partner] do |form| %>
  <%= render "edit_form", form: form %>
  <p><%= form.submit %></p>
<% end %>