<% @title = "一覧" %>
<h1><%= @title %></h1>
<%= link_to "パートナーを追加する", :new_admin_partner %>
<table>
  <tr>
    <th>ID</th>
    <th>名前</th>
    <th>名前カナ</th>
    <th>住所</th>
  </tr>
  <% @partners.each do |partner| %>
    <tr>
      <td><%= partner.id %></td>
      <td>
        <%= link_to partner.name, [:admin, partner] %>
      </td>
      <td><%= partner.name_kana%></td>
      <td><%= partner.address %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @members %>
