<% @title = "詳細表示" %>
<h2><%= @title %></h2>

<%= link_to "一覧に戻る", :admin_partners %> |
<%= link_to "編集する", [:edit, :admin, @partner]%>

<%= render 'partner_detail' %>
<%= link_to "削除する", [:admin, @partner],
  method: :delete, confirm: "本当に削除しますか？"%>

<br /><br /><br />
<h2>サーバー一覧</h2>
<%= link_to "サーバーを追加する", [:new, :admin, @partner, :private_server] %>
<%= render "myservers"%>
