<% @title = "詳細表示" %>
<h1><%= @title %></h1>
<%= link_to "一覧に戻る", :admin_partners %> | 
<%= link_to "編集する", [:edit, :admin, @partner]%>
<table>
  <tr>
    <th>ID</th>
    <td><%= @partner.id %></td>
  </tr>
  <tr>
    <th>名前</th>
    <td><%= @partner.name %></td>
  </tr>
  <tr>
    <th>名前カナ</th>
    <td><%= @partner.name_kana %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td><%= @partner.address %></td>
  </tr>
</table>
<%= link_to "削除する", [:admin, @partner],
  method: :delete, confirm: "本当に削除しますか？"%>

