<% @title = "TOP" %>
<h1><%= @title %></h1>
active list
<% @active_domain_list.each do |domain| %>
  <ul>
    <li>
      <%= domain %>
    </li>
  </ul>
<% end %>
<br />

defined list
<% @defined_domain_list.each do |domain| %>
  <ul>
    <li>
      <%= domain %>
    </li>
  </ul>
<% end %>
<%= link_to "サーバーを追加する", [:new, current_partner, :private_server] %>
<table>
  <tr>
    <th>名前</th>
    <th>稼働開始</th>
    <th>稼働終了</th>
    <th>ステータス</th>
  </tr>
  <% @server_list.each do |server| %>
    <tr>
      <td><%= link_to server.name, [current_partner, server] %></td>
      <td><%= server.released_at.strftime("%Y/%m/%d %H:%M") %></td>
      <td><%= server.expired_at.strftime("%Y/%m/%d %H:%M") %></td>
      <td>-</td>
    </tr>
  <% end %>
</table>
<%= will_paginate @server_list %>
