<% @page_title = "パートナーページトップ" %>
<% if @current_administrator.blank? %>
  <%= render "shared/login_form" %>
<% else %>
  <ul>
    <li><%= link_to "管理者管理", :admin_administrators %></li>
    <li><%= link_to "パートナー管理", :admin_partners %></li>
    <li><%= link_to "お知らせ管理", :admin_notifications %></li>
    <li><%= link_to "サーバー管理", "#" %></li>
    <li>
      <%= link_to "ログアウト", :admin_session, method: :delete,
        confirm: "ログアウトしますか？" %>
    </li>
  </ul>
<% end %>
