<div id="menu">
  <ul>
    <li>
      <%= link_to "TOP", :admin_root %>
    </li>
    <li>
      <%= link_to "パートナーアカウント", :admin_partners %>
    </li>
    <li>
      <%= link_to "ドメインテンプレート", :admin_domain_templates %>
    </li>
    <li>
      <%= link_to "お知らせ設定", :admin_notifications %>
    </li>
    <% if @current_administrator %>
      <li>
        <%= link_to "ログアウト", :admin_session, method: :delete,
          confirm: "ログアウトしますか？" %>
      </li>
    <% else %>
      <li>
        <%= link_to "ログイン", :admin_root %>
      </li>
    <% end %>
  </ul>
</div>
