<div id="menu">
  <ul>
    <li>
      <%= link_to "IC-VPS トップ", :root %>
    </li>
    <li>
      <%= link_to "サーバー管理", :vps_management_index %>
    </li>
    <li>
      <%= link_to "アカウントサービス", '/partner' %>
    </li>
    <li>
      <a href="#">サポート関連</a>
    </li>
    <% if current_partner %>
      <li>
        <%= link_to "ログアウト", destroy_partner_session_path,
            method: :delete, confirm: "ログアウトしますか？" %>
      </li>
    <% else %>
      <li>
        <%= link_to "ログイン", new_partner_session_path %>
      </li>
    <% end %>
  </ul>
</div>
