<div id="sub">
  <div class="section">
    <h3>サポート</h3>
    <ul>
      <li>
        <%= link_to 'サポートTOP', :user_support %>
      </li>
      <li>
        <%= link_to 'お問い合わせ一覧', :contacts %>
      </li>
      <li>
        <%= link_to 'お問い合わせフォーム', :new_contact %>
      </li>
      <li>
        <%= link_to 'よくあるご質問', :faqs %>
      </li>
    </ul>
    <!-- /.section -->
  </div>
  <div class="section">
    <h3>個人情報について</h3>
    <ul>
      <li>
        <%= link_to '個人情報保護方針', '#' %>
      </li>
      <li>
        <%= link_to '開示対象個人情報について', '#' %>
      </li>
    </ul>
    <!-- /.section -->
  </div>
  <!-- /#sub -->
</div>
