<table>
  <tbody>
    <tr>
      <th><%= Contact.human_attribute_name "partner_id" %></th>
      <td><%= @contact.partner.name %></td>
    </tr>
    <tr>
      <th><%= Contact.human_attribute_name "contact_status_id" %></th>
      <td><%= @contact.cantact_status.name %></td>
    </tr>
    <tr>
      <th><%= Contact.human_attribute_name "subject" %></th>
      <td><%= @contact.subject %></td>
    </tr>
    <tr>
      <th><%= Contact.human_attribute_name "body" %></th>
      <td><%= simple_format @contact.body %></td>
    </tr>
    <tr>
      <th><%= Contact.human_attribute_name "memo" %></th>
      <td><%= simple_format @contact.memo %></td>
    </tr>
    <tr>
      <th><%= Contact.human_attribute_name "created_at" %></th>
      <td><%= l @contact.created_at, format: :default %></td>
    </tr>
    <tr>
      <th><%= Contact.human_attribute_name "updated_at" %></th>
      <td><%= l @contact.updated_at, format: :default %></td>
    </tr>
  </tbody>
</table>
