<div id="partner_operation_logs" class="abc">
  <table>
    <thead>
      <tr>
        <th><%= PartnerOperationLog.human_attribute_name 'partner' %></th>
        <th><%= PartnerOperationLog.human_attribute_name 'url' %></th>
        <th><%= PartnerOperationLog.human_attribute_name 'ip_address' %></th>
        <th><%= PartnerOperationLog.human_attribute_name 'request_method' %></th>
        <th><%= PartnerOperationLog.human_attribute_name 'created_at' %></th>
      </tr>
    </thead>
    <tbody>
      <% @logs.each do |log| %>
        <tr>
          <td><%= link_to log.partner.name, [:admin, log.partner] %></td>
          <td><%= log.url %></td>
          <td><%= log.ip_address %></td>
          <td><%= log.request_method %></td>
          <td><%= l log.created_at, format: :default %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @logs, remote: true %>
</div>
