<ul>
  <li>
    <%= link_to "お問い合わせ", :admin_contacts %>
  </li>
  <li>
    <%= link_to "お知らせ設定", :admin_notifications %>
  </li>
  <li>
    <%= link_to "FAQ登録", :admin_faqs %>
  </li>
  <li>
    <%= link_to "パートナー様操作ログ", :admin_partner_operation_logs %>
  </li>
</ul>

<hr />
<ul>
  <li>
    <%= link_to "FAQカテゴリー登録", :admin_faq_categories %>
  </li>
</ul>

